* {
    box-sizing: border-box;
    background-color: rgb(22, 254, 159);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin: 0 auto;
    padding-top: 7em;
}

.square {
    background-color: rgb(232, 147, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 7px 7px 3px rgb(73, 67, 67);
    margin: 4px;
    border-radius: 10px;
}

.square:hover {
    background-color: rgb(198, 81, 231);
    cursor: pointer;
}

#restart {
    display: grid;
    justify-content: center;
    padding-top: 20px;
}

#restartbtn {
    height: 2em;
    width: 5em;
    background-color: rgb(99, 99, 212);
    border: 1px solid rgb(99, 99, 212);
    border-radius: 25%;
    font-size: larger;
    font-weight: bold;
}

#restartbtn:hover{
    background-color: rgba(99, 99, 212, 0.774);
    border: 1px solid rgb(99, 99, 212, 0.774);
    cursor: pointer;
}

#cat {
    display: grid;
    justify-content: center;
}

#dancing-bubu {
    width: 0em;
}